@model PagedList.IPagedList<Online_Order_For_Digital_Printing_Of_Photos.Models.Entities.Photos>
@using Online_Order_For_Digital_Printing_Of_Photos.Models.DAO
@using PagedList.Mvc

@{
    var cate = new CateDAO().GetAllCategory();
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title center">
                Results
            </h1>

            <div class="images-list">
                <div class="row scroll" data-ui="jscroll-default">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3">
                            <div class="image-download">
                                <a href="~/Home/DetailPhoto/@item.ID">
                                    <img src="@item.photoLink" alt="Photo" height="278" />
                                </a>
                                <div class="image-bar">
                                    <div class="cat"><a href="~/Home/DetailPhoto/@item.ID" title="">@item.photoName</a></div>
                                </div>
                                <div class="image-bar bottom">
                                    <div class="image-links">
                                        <a href="@Url.Action("DetailPhoto","Home",new {ID=@item.ID})" title=""><i class="fa fa-shopping-cart"></i></a>
                                        <a href="@Url.Action("DetailPhoto","Home",new {ID=@item.ID})" title=""><i class="fa fa-heart"></i></a>
                                    </div>
                                    @foreach (var x in cate)
                                    {
                                        if (x.cateID == item.cateID)
                                        {
                                            <span class="image-license"> @x.cateName </span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    <div class="next">

                        @*@Html.PagedListPager(Model, page => Url.Action("GetPhotoForPhotos", new { page }),
                            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "GetDataPhotoForPhotos" }))*@

                        @Html.PagedListPager(Model, page => Url.Action("GetPhotoForPhotos", new { page }),
                       PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                        {
                            DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                            DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                            DisplayLinkToNextPage = PagedListDisplayMode.Always,
                            MaximumPageNumbersToDisplay = 5
                        }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "GetDataPhotoForPhotos" }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>