@model PagedList.IPagedList<Online_Order_For_Digital_Printing_Of_Photos.Models.Entities.Photos>
@using Online_Order_For_Digital_Printing_Of_Photos.Models.DAO
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserLayout/_Layout.cshtml";
    var cate = new CateDAO().GetAllCategory();
}

<div class="theme-layout">
    <section>
        <div class="block no-padding">
            <div class="row">
                <div class="col-md-12 column">
                    <div class="main-section">
                        @Html.Partial("~/Views/Shared/UserLayout/_Slide.cshtml")
                        <div class="site-info-bar">
                            <div class="info-box">
                                <i class="fa fa-upload"></i>
                                <span>Total Photos</span>
                                <strong>@Model.TotalItemCount</strong>
                            </div><!-- Info Box -->
                            <div class="info-box">
                                <i class="fa fa-user"></i>
                                <span>Our Users</span>
                                <strong>40,933</strong>
                            </div><!-- Info Box -->
                            <div class="info-box">
                                <i class="fa fa-phone"></i>
                                <span>Call Us</span>
                                <strong>123 456 789</strong>
                            </div><!-- Info Box -->
                        </div><!-- Site Info Bar -->
                    </div><!-- Main Section -->
                </div>
            </div>
        </div>
    </section>


    <section style="margin: 2% auto">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title center">
                        <h2>Top Categories</h2>
                        <i>You can select from the key</i>
                    </div>

                    <div class="option-combo" style="margin-bottom: 4%">
                        <ul id="filter" class="option-set" data-option-key="filter">
                            <li><a href="~/Home/Photos" class="selected">Show all</a></li>
                            <li><a href="#category1" data-option-value=".category1">Photos</a></li>
                            <li><a href="#category2" data-option-value=".category2">Vectors</a></li>
                            <li><a href="#category2" data-option-value=".category3">Editorial</a></li>
                            <li><a href="#category3" data-option-value=".category4">Illustrations</a></li>
                            <li><a href="#category4" data-option-value=".category5">Footage</a></li>
                        </ul>
                    </div><!-- FILTER BUTTONS -->

                    <div class="images-list">
                        <div class="row scroll" data-ui="jscroll-default">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-3">
                                    <div class="image-download">
                                        <a href="~/Home/DetailPhoto/@item.ID">
                                            <img src="@item.photoLink" alt="Photo" height="278" />
                                        </a>
                                        <div class="image-bar">
                                            <div class="cat"><a href="~/Home/DetailPhoto/@item.ID" title="">@item.photoName</a></div>
                                            @*<span>12 Credits</span>*@
                                        </div>
                                        <div class="image-bar bottom">
                                            <div class="image-links">
                                                <a href="~/Home/DetailPhoto/@item.ID" title=""><i class="fa fa-shopping-cart"></i></a>
                                                <a href="~/Home/DetailPhoto/@item.ID" title=""><i class="fa fa-heart"></i></a>
                                            </div>
                                            @foreach (var x in cate)
                                            {
                                                if (x.cateID == item.cateID)
                                                {
                                                    <span class="image-license"> @x.cateName </span>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>