@model Online_Order_For_Digital_Printing_Of_Photos.Models.ModelViews.UserModelView

@{
    ViewBag.Title = "AccountDetail";
    Layout = "~/Views/Shared/UserLayout/_Layout.cshtml";
}


@section scripts {
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });

    </script>
}




<section style="margin: 0; padding:0">
    @Html.Partial("~/Views/Shared/UserLayout/_Sidebar.cshtml")
    
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 column">
                    @Html.Partial("~/Views/Shared/UserLayout/_Alert.cshtml")
                    <div class="account-tabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#plan"><i class="fa fa-bolt"></i>Overview</a></li>
                            <li><a data-toggle="tab" href="#profile"><i class="fa fa-gg"></i> Profile</a></li>
                            
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div id="plan" class="tab-pane fade in active">
                                <div class="plan">
                                    <div class="row">
                                        <div class="col-md-8 column">
                                            <h5 class="border-title">OVERVIEW:</h5>
                                            <h6 class="sub-title">My Images overview</h6>
                                            <ul>
                                                <li>Total Uploaded: </li>
                                                <li>Total Downloaded: </li>
                                                <li>Total Bill Completed: </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 column">
                                            <div class="plan-info">
                                                <span>Name:</span>
                                                <strong>@Model.name</strong>
                                                <span>Email:</span>
                                                <strong>@Model.email</strong>
                                            </div>
                                            @*<a href="#" title="">View Next Plan</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="profile" class="tab-pane fade active">
                                <div class="profile-info">
                                    <ul>
                                        <li><strong>USERNAME:</strong><span>@Model.name</span></li>
                                        <li>
                                            <strong>PASSWORD:</strong>
                                            <div>
                                                <a class="change" href="#" title="" data-title="Change Your password" data-change="Cancel">Change Your password</a>
                                                @using (Html.BeginForm("ChangePwd", "User", FormMethod.Post, new { @class = "", @style = "" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <div class="row">

                                                        <div class="col-md-12">
                                                            <div class="field">
                                                                <i class="ti-key"></i>
                                                                @Html.HiddenFor(model => model.userID, new { htmlAttributes = new { @class = "form-control", Value = Model.userID } })
                                                                @Html.EditorFor(model => model.userPwd, new { htmlAttributes = new { @id = "npw", @placeholder = "Enter New Password" } })
                                                                @Html.ValidationMessageFor(model => model.userPwd, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="field">
                                                                <i class="ti-key"></i>
                                                                @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { @id = "cpw", @placeholder = " Enter Confirm Password" } })
                                                                @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12"><div class="field button"><input type="submit" value="Change Password" /></div></div>
                                                    </div>
                                                }
                                            </div>
                                        </li>
                                        <li>
                                            <strong>EMAIL:</strong><div>
                                                @Model.email <a class="change" href="#" title="" data-title="Change Email" data-change="Cancel">Change Email</a>
                                                @using (Html.BeginForm("ChangeEmail", "User", FormMethod.Post, new { @class = "", @style = "" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="field">
                                                                <i class="ti-key"></i>
                                                                @Html.HiddenFor(model => model.userID, new { htmlAttributes = new { @class = "form-control", Value = Model.userID } })
                                                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @id = "changeEmail", @placeholder = "Enter New Email" } })
                                                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="field button">
                                                                <input type="submit" value="Change Email" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </li>
                                        <li>
                                            <strong>CONTACT INFORMATION</strong><div>
                                                <br />@Model.address<br /><a class="change" href="#" title="" data-title="Change Address" data-change="Cancel">Change Address</a>
                                                @using (Html.BeginForm("ChangeAddress", "User", FormMethod.Post, new { @class = "", @style = "" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="field">
                                                                <i class="ti-key"></i>
                                                                @Html.HiddenFor(model => model.userID, new { htmlAttributes = new { @class = "form-control", Value = Model.userID } })
                                                                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @id = "changeAdd" }, @placeholder = "Enter New Adress" })
                                                                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="field button">
                                                                <input type="submit" value="Change Address" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
