@model Online_Order_For_Digital_Printing_Of_Photos.Models.ModelViews.LoginModelView

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/UserLayout/_Layout.cshtml";
}

@section scripts{
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });

    </script>
}


<div class="form-box">
    <div class="title" style="text-align: center; margin-bottom: 1.5em">
        <h2>LOGIN</h2>
    </div>
    @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "registration-form", @style = "padding: 0 40% 0 40%;" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Partial("~/Views/Shared/UserLayout/_Alert.cshtml")
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="field">
                    <i class="far fa-user-circle"></i>
                    @Html.TextBoxFor(model => model.userName, new { @class = "form-control", @type = "text", @placeholder = "UserName", @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-12 form-group">
                <div class="field">
                    <i class="ti-key"></i>
                    @Html.PasswordFor(model => model.userPwd, new { @class = "form-control", @type = "password", @placeholder = "Password" })
                    @Html.ValidationMessageFor(model => model.userPwd, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-12 form-group">
                <div class="field field-button">
                    <input type="submit" value="Login" />
                </div>
            </div>
        </div>
    }
</div>
