@model Online_Order_For_Digital_Printing_Of_Photos.Models.ModelViews.UserModelView

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/UserLayout/_Layout.cshtml";
}

<section class="body">

    <div class="inner-wrapper">
        @Html.Partial("~/Views/Shared/UserLayout/_Sidebar.cshtml")

        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayTextFor(model => model.userName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.userName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.role)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.role)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>

            </dl>
        </div>
    </div>
</section>