@model PagedList.IPagedList<Online_Order_For_Digital_Printing_Of_Photos.Models.ModelViews.PhotoModel>
@using PagedList.Mvc



<table class="table">
    <tr>
        <th>PhotoID</th>
        <th>PhotoName</th>
        <th>Description</th>
        <th>Status</th>
        <th>Category</th>
        <th>Url</th>
        <th>Format</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @{string temp = "disabled";}
            @if (item.status == 1)
            {
                temp = "enable";
            }
            <td>
                @Html.DisplayFor(modelItem => item.photoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.photoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => temp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cateID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.photoLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.formatID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @{temp = "disabled";}
                @if (item.status == 0)
                {
                    temp = "enable";
                }
                @Html.ActionLink(temp, "ChangeStatusPhoto", new { id = item.photoID }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) 
            </td>
        </tr>
    }

</table>
<div class="next" style="text-align:center">
    @Html.PagedListPager(Model, page => Url.Action("GetDataForManagephoto", new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
    {
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToLastPage = PagedListDisplayMode.Never,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        DisplayLinkToIndividualPages = false,
        DisplayItemSliceAndTotal = true,
        ItemSliceAndTotalFormat = "Showing {0} to {1} of {2} photos."
    },
    new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "GetDataForManagePhoto" }))
</div>