@model PagedList.IPagedList<Online_Order_For_Digital_Printing_Of_Photos.Areas.Admin.Models.ManagerUserModelView>
@using PagedList.Mvc

<table class="table table-bordered table-striped table-condensed mb-none">
    <tr>
        <th>
            ID
        </th>
        <th>
            UserName
        </th>
        <th>
            Email
        </th>
        <th>
            Address
        </th>
        <th>
            Status
        </th>
        <th>
            Role
        </th>
        <th>
            Name
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @{string temp = "disabled";}
            @if (item.status == 1)
            {
                temp = "enable";
            }
            <td>
                @Html.HiddenFor(modelItem => item.userID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => temp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @{temp = "disabled";}
                @if (item.status == 0)
                {
                    temp = "enable";
                }
                @Html.ActionLink(temp, "ChangeStatus", new { id = item.userID }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |

            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("GetAllUserForAdmin", new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
    {
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToLastPage = PagedListDisplayMode.Never,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        DisplayLinkToIndividualPages = false,
        DisplayItemSliceAndTotal = true,
        ItemSliceAndTotalFormat = "Showing {0} to {1} of {2} photos."
    },
    new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "GetAllUser" }))