@model IEnumerable<Online_Order_For_Digital_Printing_Of_Photos.Models.ModelViews.Cart.OrderDetailModelView>

@{
    ViewBag.Title = "DetailOrder";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout/Layout.cshtml";
}

<h2>DetailOrder</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.orderDetailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orderDetailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.photoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
            </td>
        </tr>
    }

</table>
